### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
num_row = len(purchase_data["SN"].unique())
total_player = pd.DataFrame({"Total Player": [num_row]})
total_player

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#obtain the number of unique items
num_Item = len(purchase_data["Item ID"].unique())

#calculate the average price
average_price = purchase_data["Price"].mean()

#obtain the number of purchases
num_pur = len(purchase_data["Purchase ID"])

#calculate the total revenue by summing up prices
revenue = purchase_data["Price"].sum()

# summarize information into dataframe
info_display = pd.DataFrame({"Number of Unique Items": [num_Item],
                             "Average Price": [average_price],
                             "Number of Purchases": [num_pur],
                             "Total Revenue": [revenue]})
info_display

#format the dataframe and display it
info_display.style.format({"Average Price": "${:.2f}","Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# remove duplicates and create simplified dataframe
reduced_df = purchase_data.drop_duplicates(subset = "SN")

# find number of males, females, and non-disclosed
gender_count = reduced_df["Gender"].value_counts()

# find percentage of males, females, and non-disclosed
Gender_pct = gender_count/num_row * 100

# summarize information into a dataframe
info_summary = pd.DataFrame({"Total Count": gender_count,
                             "Percentage of Players": Gender_pct})
info_summary

#format the dataframe
info_summary.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# group the dataset by gender
gender_df = purchase_data.groupby(["Gender"])

# find the number of purchases by gender
Purchase_sum = gender_df["Purchase ID"].count()

# find average price of purchase by gender
Average_price = gender_df["Price"].mean()

# find total purchase value by gender
Total_price = gender_df["Price"].sum()

# find total purchase per person by gender
Pur_per_person = Total_price/gender_count

# aggregate information into dataframe
Purchase_summary = pd.DataFrame({"Purchase Count": Purchase_sum,
                             "Average Purchase Price": Average_price,
                             "Total Purchase Value": Total_price,
                             "Avg Total Purchase per Person": Pur_per_person})

# format the dataframe
Purchase_summary.style.format({"Average Purchase Price": "${:.2f}","Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins in which to place values based upon Age
bins = [0, 9, 14, 19, 24, 29,
        34, 39, 100]

# Create the names for the bins
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

# Slice the data and place it into bins
pd.cut(reduced_df["Age"], bins, labels=age_labels).head()

# Place the data series into a new column inside of the DataFrame
reduced_df["Age Group"]=pd.cut(reduced_df["Age"], bins, labels=age_labels)
reduced_df.head()

# Create a GroupBy object based upon "Age Group"
Age_class = reduced_df.groupby("Age Group")

# find the player number by age
Player_count = Age_class["Age"].count()

# find percentage of players by age
Player_pct = (Player_count/576)*100

# place information into dataframe
Age_summary = pd.DataFrame({"Total Count": Player_count,
                            "Percentage of Players": Player_pct})

# format the dataframe
Age_summary.style.format({"Percentage of Players": "{:.2f}%"})

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Slice the data and place it into bins
pd.cut(purchase_data["Age"], bins, labels=age_labels).head()

# Place the data series into a new column inside of the DataFrame
purchase_data["Age Group"]=pd.cut(purchase_data["Age"], bins, labels=age_labels)
purchase_data.head()

# Create a GroupBy object based upon "Age Group"
Age_class = purchase_data.groupby("Age Group")

# find the player number by the age group
Player_num = Age_class["Age"].count()

# find the average purchase price by the age group
Avg_Price = Age_class["Price"].mean()

# find total purchase value by the age group
Total_pur = Age_class["Price"].sum()

# find average total purchase value per person by the age group
Avg_per_person = Total_pur/Player_count
Avg_per_person

# place information into a dataframe
Pur_Age_summary = pd.DataFrame({"Purchase Count": Player_num,
                            "Average Purchase Price": Avg_Price,
                            "Total Purchase Value": Total_pur,
                            "Average Purchase Total per Person": Avg_per_person})

# format the dataframe
Pur_Age_summary.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:,.2f}",
                              "Average Purchase Total per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Create a GroupBy object based upon "SN"
Spender_df = purchase_data.groupby("SN")

# find the purchase number by each player
purchase_time = Spender_df["Purchase ID"].count()

# find the average purchase price by each player
Avg_Purchase_price = Spender_df["Price"].mean()

# find the total purchase value by each player
Tot_value = Spender_df["Price"].sum()

# place information into a dataframe
Expenditure_summary = pd.DataFrame({"Purchase Count": purchase_time,
                                    "Average Purchase Price": Avg_Purchase_price,
                                    "Total Purchase Value": Tot_value})

# sort the "Total Purchase Value" based on descending order 
Expenditure_summary = Expenditure_summary.sort_values("Total Purchase Value", ascending=False)

# format columns and display dataframe
Expenditure_summary["Average Purchase Price"] = Expenditure_summary["Average Purchase Price"].map("${:.2f}".format)
Expenditure_summary["Total Purchase Value"] = Expenditure_summary["Total Purchase Value"].map("${:.2f}".format)
Expenditure_summary.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Extract the following columns: 'Item ID', 'Item Name', 'Price'
Item_df = purchase_data[["Item ID", "Item Name", "Price"]]
Item_df.head()

# Create a GroupBy object based upon "Item ID" and "Item Name"
Item_group = Item_df.groupby(["Item ID", "Item Name"])

# find the purchase number by each Item
Pur_time = Item_group["Item Name"].count()

# find the average purchase price by each Item
Item_price = Item_group["Price"].mean()

# find the total purchase value by each Item
Item_tot = Item_group["Price"].sum()

# place information into a dataframe
Item_summary = pd.DataFrame({"Purchase Count": Pur_time,
                             "Item Price": Item_price,
                             "Total Purchase Value": Item_tot})

# sort the "Purchase Count" based on descending order 
Item_summary = Item_summary.sort_values("Purchase Count", ascending=False)

# format columns and display dataframe
Item_summary["Item Price"] = Item_summary["Item Price"].map("${:.2f}".format)
Item_summary["Total Purchase Value"] = Item_summary["Total Purchase Value"].map("${:.2f}".format)
Item_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# given all information & variables created, place information into a dataframe
Item_summary_2 = pd.DataFrame({"Purchase Count": Pur_time,
                             "Item Price": Item_price,
                             "Total Purchase Value": Item_tot})

# sort the "Total Purchase Value" based on descending order 
Item_summary_2 = Item_summary_2.sort_values("Total Purchase Value", ascending=False)

# format columns and display dataframe
Item_summary_2["Item Price"] = Item_summary_2["Item Price"].map("${:.2f}".format)
Item_summary_2["Total Purchase Value"] = Item_summary_2["Total Purchase Value"].map("${:.2f}".format)
Item_summary_2.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80